

<div id="ProductListJTable"></div>


    <script>

        function init_ClientsJTable() {

            $('#ProductListJTable').jtable({
                title: 'BaseResource.Get("TitleProductList")',
                actions: {
                    listAction: function (postData, jtParams) { return jtable_datasource.list(postData, jtParams, "Product", "List") },
                    createAction: function (postData) { return jtable_datasource.create(postData, "Product", "Create") },
                    updateAction: function (postData) { return jtable_datasource.update(postData, "Product", "Update") },
                    deleteAction: function (postData) { return jtable_datasource.delete(postData, "Product", "Delete") }
                },
                fields: {
                    Id: {
                        title: '@BaseResource.Get("Id")',
                        key: true,
                        list: false
                    },
                    PartNumber: {
                        title: '@BaseResource.Get("PartNumber")'
                    },
                    Name: {
                        title: '@BaseResource.Get("ProductName")',
                    },
                    Description: {
                        title: '@BaseResource.Get("Description")'
                    },
                    Owner: {
                        title: '@BaseResource.Get("Owner")',
                        display: function (data) {
                            return data.record.Owner.Name;
                        }
                    },
                    Price: {
                        title: '@BaseResource.Get("Price")',
                        display: function (data) {
                            return parseFloat(data.record.Price).toFixed(2);
                        }
                    }
                }
            });
        }

    $(function () {

        init_ClientsJTable();
        $('#ProductListJTable').jtable('load');

    });



    </script>

