<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />


    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SRService", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @{
        if (User != null && User.Identity.IsAuthenticated)
        {
                <li>@Html.ActionLink("Services", "Index", "ServiceConfiguration")</li>
               
        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Christian Knörnschild</p>
        </footer>
    </div>

 
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/signalr")*@
    @RenderSection("scripts", required: false)
</body>
</html>

@helper AdminMenu() { 

<ul id="adminmenu">
    <li>@Html.ActionLink("Seeding", "Seeding", "Home")</li>
    <li>@Html.ActionLink("Localization", "Index", "Localization")</li>
    <li>@Html.ActionLink("Users/Roles", "Index", "UserRoles")</li>
    <li>@Html.ActionLink("SignalRClients", "Index", "SignalRClients")</li>
    <li>@Html.ActionLink("CS", "Index", "Service")</li>
</ul>

    <script>

     

        $(function () {
            $("#adminmenu").menu();
        });
    </script>

}