<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")


    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="~/Scripts/mdd_styles.css">
    <script type="text/javascript" src="~/Scripts/MarkdownDeepLib.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

</head>
<body>
    <div class="menuwrap">
        @Html.Partial("SignalRBaseBackend")
        @Html.Partial("ProgressDialog")
        @Html.Partial("_LoginPartial")
        @AdminMenu()
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/bundles/signalr")*@
    @RenderSection("scripts", required: false)
</body>
</html>

@helper AdminMenu()
    {

     <div class="culturewrapper">@SignalRService.Utils.CultureHelper.GetCurrentCulture()</div>

     <ul id="adminmenu">
         <li>
             @BaseResource.Get("MenuBaseSettings")
             <ul>
                 <li>@Html.ActionLink(@BaseResource.Get("MenuSeeding"), "Seeding", "Home", null, null)</li>
                 <li>@Html.ActionLink(@BaseResource.Get("MenuLocalization"), "Index", "Localization", new { id = 1 }, null)</li>
             </ul>
         </li>

         <li>
             @BaseResource.Get("MenuOrderProcess")
             <ul>
                 <li>@Html.ActionLink(@BaseResource.Get("MenuProducts"), "Index", "Product", null, null)</li>
                 <li>@Html.ActionLink(@BaseResource.Get("MenuOrders"), "Index", "Order", null, null)</li>
             </ul>
         </li>

         <li>@Html.ActionLink(@BaseResource.Get("MenuUserRoles"), "Index", "UserRoles", null, null)</li>
         <li>@Html.ActionLink(@BaseResource.Get("MenuSignalRClients"), "Index", "SignalRClients", null, null)</li>
         <li>@Html.ActionLink(@BaseResource.Get("MenuServices"), "Index", "ServiceConfiguration", null, null)</li>

         @{
             if (User.IsInRole("Admin"))
             {
                 <li>@Html.ActionLink(@BaseResource.Get("MenuPredefClients"), "Index", "PreDefinedMinerClient", null, null)</li>
             }
         }


     </ul>

        <script>

            function makeid() {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < 5; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }


            $(function () {
                $("#adminmenu").menu();
            });
        </script>

        <style>

            #adminmenu.ui-menu {
                overflow: hidden;
                z-index: 1000;
            }
            #adminmenu.ui-menu .ui-menu {
                overflow: visible !important;
            }
            #adminmenu.ui-menu > li {
                    float: left;
                    display: block;
                    width: auto !important;
            }
            #adminmenu.ui-menu ul li {
                display: block;
                float: none;
            }
            #adminmenu.ui-menu ul li ul {
                left: 120px !important;
                width: 100%;
            }
            #adminmenu.ui-menu ul li ul li {
                width: auto;
            }
            #adminmenu.ui-menu ul li ul li a {
                float: left;
            }
            #adminmenu.ui-menu > li {
                margin: 5px 5px !important;
                padding: 0 0 !important;
            }
            #adminmenu.ui-menu > li > a {
                float: left;
                display: block;
                clear: both;
                overflow: hidden;
            }
            #adminmenu.ui-menu .ui-menu-icon {
                margin-top: 0.3em !important;
            }
            .ui-menu .ui-menu .ui-menu li {
                float: left;
                display: block;
            }

        </style>

}


