@model SignalRService.ViewModels.ServiceSettingViewModel

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@*@Html.Action("RenderSignalRBase","Service")*@


@Html.Partial("SignalRBase", Model)


<h4>@Model.ServiceName</h4>

@Html.Partial("RenderMiner", Model.MinerConfigurationViewModel)



@{
    if (SignalRService.Utils.ServiceUtils.IsServiceOwner(Model.Id, User.Identity.Name))
    {
        @Html.Partial("RenderOrderHost", Model.OrderHostConfigurationViewModel)
    }
    else
    {
        @Html.Partial("RenderOrderClient", Model.OrderClientConfigurationViewModel)
    }
}








