@model SignalRService.ViewModels.ServiceSettingViewModel

@{
  Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@*@Html.Action("RenderSignalRBase","Service")*@

@Html.Partial("SignalRBase",Model.SiganlRBaseConfigurationVieModel)


<h4>@Model.ServiceName</h4>

@Html.Partial("RenderMiner", Model.MinerConfigurationViewModel)



<fieldset data-role="controlgroup">
    <legend>Client, Host:</legend>
    <input type="checkbox" name="checkbox-client" id="checkbox-client" onclick="toggle_orderClient(this)" >
    <label for="checkbox-client">Client</label>
    <input type="checkbox" name="checkbox-host" id="checkbox-host" onclick="toggle_orderHost(this)" >
    <label for="checkbox-host">Host</label>
</fieldset>
<div data-role="controlgroup" data-type="horizontal" data-mini="true">
    <a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-plus ui-btn-b">...</a>
    <a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete ui-btn-b">Reset</a>
    <a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-icon-left ui-icon-grid ui-btn-b">...</a>
</div>



@Html.Partial("RenderOrderClient", Model.OrderClientConfigurationViewModel)

@Html.Partial("RenderOrderHost", Model.OrderHostConfigurationViewModel)

<script>
    function toggle_orderClient(e) {
        if (e.checked) {
            itemOrderClient.run(".body-content");
        }
        else {
            itemOrderClient.stop();
        }
    }
    function toggle_orderHost(e) {
        if (e.checked) {
            itemOrderHost.run(".body-content");
        }
        else {
            itemOrderHost.stop();
        }
    }
</script>

<script>

    //itemOrderClient.loadJqueryMobile();
    $(function () {
        start_miner();
    });

    
    

</script>
