@model SignalRService.ViewModels.ServiceSettingViewModel

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@*@Html.Action("RenderSignalRBase","Service")*@


@Html.Partial("SignalRBase", Model)


<h4>@Model.ServiceName</h4>

@Html.Partial("RenderMiner", Model.MinerConfigurationViewModel)



@{

    switch (Model.EnumServiceTpe)
    {
        case SignalRService.Enums.EnumServiceType.OrderService:
            @Html.Partial("StripePayment")
            if (SignalRService.Utils.ServiceUtils.IsServiceOwner(Model.Id, User.Identity.Name))
            {
                @Html.Partial("RenderOrderHost", Model.OrderHostConfigurationViewModel)
            }
            else
            {
                @Html.Partial("RenderOrderClient", Model.OrderClientConfigurationViewModel)
            }
            break;
        case SignalRService.Enums.EnumServiceType.TaxiService:
            break;
        case SignalRService.Enums.EnumServiceType.SecurityService:
            break;
        case SignalRService.Enums.EnumServiceType.OrderServiceDrone:
            if (SignalRService.Utils.ServiceUtils.IsServiceOwner(Model.Id, User.Identity.Name))
            {
                @Html.Partial("RenderDroneHost", Model.OrderHostConfigurationViewModel)
            }
            else
            {
                @Html.Partial("RenderDroneClient", Model.OrderClientConfigurationViewModel)
            }
            break;
        case SignalRService.Enums.EnumServiceType.LuckyGameDefault:
            Layout = "~/Views/Shared/_LayoutReact.cshtml";
            @Html.Partial("~/Views/LuckyGame/Index.cshtml", Model.LuckyGameConfiguration);
            break;
            
        default:
            break;
    }


}








