@model SignalRService.ViewModels.OrderHostConfigurationViewModel
<script>

    var hostProducList = {

        signalRGroup: "@Model.SinalRGroup",

        initialize: function build_productItemsElement(dataInset, dataAutoDividers, dataFilter) {
            var element = "<div id=\"hostitemswrapper\">" +
                "<ul data-role=\"listview\" data-inset=\"" + dataInset + "\" data-autodividers=\"" + dataAutoDividers + "\" data-filter=\"" + dataFilter + "\" id=\"hostitemlist\">" +
                "<li></li></ul></div>";
            return element;
        },
        createItem: function create_productitem_entry(itemId, thumbnailSrc, caption, description, price) {
            var element = "<li class=\"productitem\" data-caption=\"" + caption + "\" data-price=\"" + price + "\" data-itemcnt=\"1\" data-itemid=\"" + itemId + "\" >";

           
           //     element += "<img src=\"" + thumbnailSrc + "\">";

            element += "<div class=\"cpwrapper\">" +
                "<div class=\"caption\">" + caption + "</div>" +
                "<div class=\"price\">" + parseFloat(price).toFixed(2) + "</div>" +
                "</div>" +
                "<div class=\"description\">" + description + "</div></a>" +
                "<div class=\"pcommandwrapper\">" +
                "<div class=\"removebtn\"><a onclick=\"removeProduct('" + itemId + "')\" href=\"#\" class=\"ui-btn ui-corner-all\">l&ouml;schen</a></div>" +
                "</div > " +
                "</li>";
            return element;
        },
        createEditItem: function create_productEditItem() {
            var element = "<div class=\"producteditwrapper\">" +
                "<div data-role=\"fieldcontain\">" +
                "<label for=\"editorcaption\"> Titel </label>" +
                "<input type=\"text\" id=\"editorcaption\" name=\"caption\" placeholder=\"Titel / Name\" />" +
                "</div>" +
                "<div data-role=\"fieldcontain\">" +
                "<label for=\"editorimgurl\">Bild</label>" +
                "<input type=\"text\" id=\"editorimgurl\" name=\"imgurl\" placeholder=\"ImageUrl\" />" +
                "</div>" +
                "<div data-role=\"fieldcontain\">" +
                "<label for=\"editordescription\">Beschreibung</label>" +
                "<input type=\"text\" id=\"editordescription\" name=\"description\" placeholder=\"Beschreibung\" />" +
                "</div>" +
                "<div data-role=\"fieldcontain\">" +
                "<label for=\"editorprice\">Preis</label>" +
                "<input type=\"number\" id=\"editorprice\" name=\"price\"  placeholder=\"Preis\"  />" +
                "</div>" +
                "<div class=\"savebtn\"><a onclick=\"itemOrderHost.productEditSave('" + hostProducList.signalRGroup + "')\" href=\"#\" class=\"ui-btn ui-corner-all\">speichern</a></div>" +
                "</div>";
            return element;
        },
        getProduct: function get_product(itemId) {

            var pr;
            $("#hostitemlist").children("*[data-itemid='" + itemId + "']").each(function (idx) {
                    pr = {
                    Id: itemId,
                    Name: $(this).data('caption'),
                    ImgUrl: "",
                    Description: "",
                    Price: $(this).data('price'),
                }
            });
            return pr;
        }
    }

    var hostOrderList = {

        createItem: function create_orderitem_entry(orderData) {
            var element = "<li data-icon=\"false\" class=\"hostorderitem\" data-orderid=\"" + orderData.Order.OrderId + "\" data-state=\"" + orderData.Order.State + "\" data-clientConnectionId=\"" + orderData.Order.ClientConnectionId + "\" >" +
                "<div class=\"orderid\">" + orderData.Order.OrderId + "</div>" +
                "<div class=\"clientid\">" + orderData.Order.ClientConnectionId + "</div>";

            var ordertotal = 0;
            $(orderData.Order.Items).each(function (idx) {
                var stagedProduct = hostProducList.getProduct(this.ItemId);
                element += hostOrderList.createOrderProduct(this.ItemId, stagedProduct.Name, this.Amount, stagedProduct.Price);
                ordertotal = ordertotal + this.Amount * stagedProduct.Price;
            })

            element += hostOrderList.createStatusElement(orderData.Order)
            element += hostOrderList.createOrderProcessElements();
            element += "<div class=\"ordertotal\">" + parseFloat(ordertotal).toFixed(2) + "</div>";
            element += "</li>";
            return element;
        },
        createStatusElement: function create_statusElement(order) {
            var element = "<div class=\"statuswrapper\" id=\"hostorderstatus\">" +
                "<div class=\"status\">" + order.StateString + "</div>" +
                "<div class=\"nextstatus\">" + order.NextStateString + "</div>" +
                "</div>";
            return element;
        },
        initialize: function build_oderItemsElement(appendTo) {
            var element = "<div id=\"hostorderswrapper\">" +
                "<ul data-role=\"listview\" data-inset=\"true\" id=\"hostorderitemlist\">"; +
                    "</ul></div>";

            if ($(appendTo).length == 0) {
                console.log("could not find item: " + appendTo + " aborting orderclient");
            }
            else {
                $(appendTo).append(element);
                $('#hostorderitemlist').listview();
                $('#hostorderitemlist').listview("refresh");
            }
        },
        createOrderProduct: function create_orderProduct(itemId, caption, amount, unitPrice)
        {
            var elememt = "<div class=\"orderproduct\">" +
                 "<div class=\"caption\">" + caption + "</div>" +
                
                 "<div class=\"itemtotal\">" + parseFloat((amount * unitPrice)).toFixed(2) + "</div>" +
                "<div class=\"unitprice\">" + unitPrice + "</div>" +

                "<div class=\"amount\">" + amount + "</div>" +
                "</div>";
            return elememt;
        },
        createOrderProcessElements: function create_orderProcessElements()
        {
            var element = "<div class=\"orderprocesswrapper\" id=\"hostorderprocesswrapper\" \">" +
                "<div class=\"nokbtn\"><a onclick=\"orderProcessNotOkClicked(this)\" href=\"#\" class=\"ui-btn ui-corner-all\">nicht OK</a></div>" +
                "<div class=\"nokbtn\"><a onclick=\"itemOrderHost.orderProcessOkClicked(this)\" href=\"#\" class=\"ui-btn ui-corner-all\">OK</a></div>" +
                "</div>";
            return element;
        }
    }

    var itemOrderHost = {

        initializeTotals: function build_totalsElement(appendTo) {
            var element = "<div id=\"hosttotalswrapper\">" +
                "<div class=\"totaldetails\">" +
                "<div class=\"description\">total</div>" +
                "<div class=\"price\">0.00</div>" +
                "</div>" +
                "<a href=\"#\" onclick=\"loadPaymentData()\" class=\"ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left\">Bestellen</a>" +
                "</div>";

            $(appendTo).append(element);
        },
        initializeEditor: function build_editorElement(appendTo) {
            var element = "<div id=\"edititemwrapper\"></div>";
            $(appendTo).append(element);
            $('#edititemwrapper').append(hostProducList.createEditItem());
        },
        loadProducts: function load_products() {

            servicehub.server.getProducts()
                .done(function (productList) {
                    $(productList).each(function (idx) {
                        var newitem = hostProducList.createItem(this.Id, "", this.Name, this.Description, this.Price);
                        $("#hostitemlist").append(newitem);
                    });
                    $("#hostitemlist").listview();
                    $("#hostitemlist").listview('refresh');
                })
                .fail(function () {
                console.log("load_products failed..");
                });

           
        },
        run: function run(appendTo) {

            if ($(appendTo).length == 0) {
                console.log("could not find item: " + appendTo + " aborting orderclient");
            }
            else {
                var plistelement = hostProducList.initialize('@Model.AppendToSelector', "true", "true", "true");
                $(appendTo).append(plistelement);
                $('#hostitemlist').listview();
                $('#hostitemlist').listview("refresh");

                hostOrderList.initialize('@Model.AppendToSelector');
                itemOrderHost.initializeTotals('@Model.AppendToSelector');
                itemOrderHost.initializeEditor('@Model.AppendToSelector');
                itemOrderHost.loadProducts();
           }
        },
        stop: function stop() {
            $('#hostitemswrapper').remove();
            $('#hostorderswrapper').remove();
            $('#hosttotalswrapper').remove();
            $('#edititemwrapper').remove();
            
        },
        loadJqueryMobile: function load_jqueryMobile() {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js";    // use this for linked script
            //script.text  = "alert('voila!');"               // use this for inline script
            document.head.appendChild(script);

            var head = document.head;
            var link = document.createElement("link");
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = "https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css";
            head.appendChild(link);
        },
        orderListAdd: function add_item_to_orderlist(e) {
            var li_item = $(e).parent();

            var itemid = $(e).data("itemid");
            var itemInOrderlist = $("#orderitemlist").find("*[data-itemid=" + itemid + "]");
            if (itemInOrderlist.length > 0) {


                var unitprice = $(e).data("price");
                var countcurr = itemInOrderlist.data("itemcnt");
                countcurr++;
                itemInOrderlist.data("itemcnt", countcurr);

                var price = countcurr * unitprice;
                var pelement = $(itemInOrderlist).find(".price");
                pelement.html(parseFloat(price).toFixed(2));

                var cntelement = $(itemInOrderlist).find(".unitcount");
                cntelement.html(countcurr);

            }
            else {
                var oitem = orderItemList.createOrderItem($(e).data("itemid"), $(e).data("caption"), 1, $(e).data("price"));
                $("#orderitemlist").append(oitem).listview('refresh');
            }

            itemOrderClient.calcTotals();
   
            servicehub.server.addToCart(itemid, '@Model.SinalRGroup.ToLower()');

        },
        orderListRemove: function remove_item_from_orderlist(e) {
            var itemid = $(e).data("itemid");
            var itemInOrderlist = $("#orderitemlist").find("*[data-itemid=" + itemid + "]");
            if (itemInOrderlist.length > 0) {

                var unitprice = $(e).data("price");
                var countcurr = itemInOrderlist.data("itemcnt");
                countcurr--;

                if (countcurr == 0) {
                    $(itemInOrderlist).parent().remove();
                }

                itemInOrderlist.data("itemcnt", countcurr);

                var price = countcurr * unitprice;
                var pelement = $(itemInOrderlist).find(".price");
                pelement.html(parseFloat(price).toFixed(2));

                var cntelement = $(itemInOrderlist).find(".unitcount");
                cntelement.html(countcurr);
            }
            itemOrderClient.calcTotals();
        },
        calcTotals: function calculate_totals() {
            var total = 0;
            var orderitems = $("#orderitemlist").children(".orderitem");
            $(orderitems).each(function (idx) {

                var unitprice = $(orderitems[idx]).children().first().data('price');
                var amount = $(orderitems[idx]).children().first().data('itemcnt');
                total = total + (unitprice * amount);
            });
            $('.totaldetails').data("sum", total);
            $('.totaldetails .price').html(parseFloat(total).toFixed(2));
        },
        productEditSave: function save_prodct(group) {
            var product = itemOrderHost.getProductFromInput();
           

            var stageRes = servicehub.server.stageProduct(product, group)
                .done(function (data) {
                    if (data.length == 0) {
                        //ok no errors
                        setCookie("product_" + product.Id, JSON.stringify(product), 365);
                    }
                    else {
                        showMessageDailog(data.toString(), "#edititemwrapper");
                    }
                })
                .fail(function (data) {
                    console.log("Request stageProduct failed...");
                });

        },
        productRemove: function remove_product(id) {
            $("*[data-itemid='" + id + "']").parent().remove();
            remove_productCookie(id);
        },
        getProductFromInput: function get_product_from_input() {
            var inputelements = $('.producteditwrapper').find("input");

            var product = {
                Id: 0,
                Name: $('.producteditwrapper').find("input[name=caption]").val(),
                ImgUrl: $('.producteditwrapper').find("input[name=imgurl]").val(),
                Description: $('.producteditwrapper').find("input[name=description]").val(),
                Price: $('.producteditwrapper').find("input[name=price]").val(),
            }
            return product;
        },
              orderProcessOkClicked: function processPlacedOrder(e) {
            //find orderelement send it to server->client
            var placedorderelement = $(e).closest('.hostorderitem ');
            var order = {
                OrderId: $(placedorderelement).data('orderid'),
                Items: [],
                State: 1,
                StateString: "",
                NextState : 0,
                NextStateString : "",
                ClientConnectionId: $(placedorderelement).data('clientconnectionid'),
                HostConnectionId: ""
            };

            var orderStatusData = {
                OrderState: 2,
                OrderStateString: "HostConfirmedOrder", 
                NextOrderState: 0,
                NextOrderStateString: "",
                Message: "",
                Order: order
            }

            var res = servicehub.server.processOrder(orderStatusData, "@Model.SinalRGroup");
            res.done(function (orderData) {

                itemOrderClient.orderUpdate(orderData);
                console.log("updating orderstatus...");

            }).fail(function (err) {
                console.log("failed request update placeOrder...");
            });
        },
        orderUpdate: function update_order(orderData) {
            //find statusbox for this order and update

            var orderItem = hostOrderList.createItem(orderData);
            $('#hostorderitemlist').append(orderItem);
            $('#hostorderitemlist').listview();
            $('#hostorderitemlist').listview("refresh");

            console.log("updating orderdata");
        }
    };

    function removeProduct(id) {
        servicehub.server.removeProduct(id,"@Model.SinalRGroup");
    }
   
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }

    function get_cookies_array() {

        var cookies = {};

        if (document.cookie && document.cookie != '') {
            var split = document.cookie.split(';');
            for (var i = 0; i < split.length; i++) {
                var name_value = split[i].split("=");
                name_value[0] = name_value[0].replace(/^ /, '');
                cookies[decodeURIComponent(name_value[0])] = decodeURIComponent(name_value[1]);
            }
        }

        return cookies;
    }

    

    function remove_productCookie(pid) {
        document.cookie = "product_" + pid + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }


</script>

<style>

    .highlight {
        -webkit-box-shadow: 6px 4px 5px 0px rgba(31,101,222,1);
        -moz-box-shadow: 6px 4px 5px 0px rgba(31,101,222,1);
        box-shadow: 6px 4px 5px 0px rgba(31,101,222,1);
    }

    .orderdetailsitem .item {
        display: inline-block;
    }

    .orderdetailsitem .unitprice {
        display: inline-block;
    }

    .orderdetailsitem .amount {
        display: inline-block;
    }

    .orderdetailsitem .price {
        display: inline-block;
    }

    .orderitem {
    }

        .orderitem .caption {
            display: inline-block;
        }

    .productitem .caption {
        display: inline-block;
        font-size: 1.2em;
    }

    .orderitem .price {
        float: right;
        margin-left: 5px;
        font-size: 1.2em;
    }

    .productitem .price {
        float: right;
        margin-left: 5px;
        font-size: 1em;
    }

    .productitem .description {
        display: inline-block;
        font-size: 0.8em;
    }


    .orderitem .pricedetails {
        float: right;
        font-size: 0.8em;
    }

    .orderitem .unitcount {
    }

    .orderitem .unitprice {
        display: inline-block;
        margin-left: 5px;
    }

    .unitcount::after {
        content: "x";
    }

    .unitprice::after {
        content: "€"
    }

    .price::after {
        content: "€"
    }

    .totaldetails .description {
        display: inline-block;
        font-size: 1.5em;
    }

    .totaldetails .price {
        float: right;
        margin-left: 5px;
        font-size: 2em;
    }

    /*orderproduct*/
    .orderproduct {
        display:table;
        width:100%;
    }

    .orderproduct .caption {
        float: left;
    }
    .orderproduct .amount {
        float: right;
        font-size:smaller;
    }
    .orderproduct .amount::after {
        content: " x";
    }
    .orderproduct .unitprice {
        float: right;
        font-size: smaller;
        margin-left: 3px;
    }

    .orderproduct .itemtotal {
        float:right;
        margin-left: 5px;
    }

    .orderproduct .itemtotal::after {
        content: "€";
    }

    .hostorderitem .ordertotal {
        font-size: 1.2em;
        float:right;
    }

    .hostorderitem .ordertotal::after {
        content: "€";
    }

    .hostorderitem  .status {
        display:inline-block;
    }

    .hostorderitem .status::after {
        content: " >>";
    }

    .hostorderitem .nextstatus {
        float:right;
    }

</style>