
@{
    ViewBag.Title = "Index";
}

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutBackend.cshtml";
    }
}


<h2>ServiceConfiguration</h2>

<div id="ServiceConfigurationTable"></div>

<script>

    function init_ServiceTalbe() {
         $('#ServiceConfigurationTable').jtable({
                title: 'Table of Services',
                actions: {
                    listAction: '@Url.Action("List", "ServiceConfiguration", null)',
                    createAction: '@Url.Action("Create", "ServiceConfiguration", null)',
                    updateAction: '@Url.Action("Update", "ServiceConfiguration", null)',
                    deleteAction: '@Url.Action("Delete", "ServiceConfiguration", null)'
                },
                fields: {
                    Id: {
                        key: true,
                        list: false
                    },
                    ServiceName: {
                        title: 'Name',
                        width: '40%',
                        create: true,
                        edit: true
                    },
                    ServiceUrl: {
                        title: 'Url',
                        create: true,
                        edit: true,
                        display: function (data) {
                            return "<a href=\"/GoTo/" + data.record.ServiceUrl + "\">" + data.record.ServiceUrl + "</a>";
                        }
                    },
                    ServiceType: {
                        title: 'ServiceType',
                        create: true,
                        edit: true,
                        options: {
                            '0': '@BaseResource.Get("ServiceType0")',
                            '1': '@BaseResource.Get("ServiceType1")',
                            '2': '@BaseResource.Get("ServiceType2")'
                        }
                    },
                    User: {
                        title: 'OwnerName',
                        create: false,
                        edit: false,
                        display: function (data) { return data.record.User.Name }
                    },
                    StripeSecretKey: {
                        title: 'StripeSecretKey',
                        create: true,
                        edit: true
                    },
                    StripePublishableKey: {
                        title: 'StripePublishableKey',
                        create: true,
                        edit: true
                    }
                }
            });
    }


    $(function () {

        init_ServiceTalbe();
        $('#ServiceConfigurationTable').jtable('load');

    });

</script>
