
@{
    ViewBag.Title = "Seeding";
}

<h2>...</h2>

@Ajax.ActionLink("Seed TestData", "SeedTestData", null, new AjaxOptions() { OnSuccess = "onSuccess", HttpMethod = "GET" }, new { id = "testseedbtn", @class = "btn btn-primary" })

@Ajax.ActionLink("Seed Localization", "SeedLocalization", null, new AjaxOptions() { OnSuccess = "onSuccess", HttpMethod = "GET" }, new { id = "locseedbtn", @class = "btn btn-primary" })
@Ajax.ActionLink("Save Localization", "SaveLocalization", null, new AjaxOptions() { OnSuccess = "onSuccess", HttpMethod = "GET" }, new { id = "locsavebtn", @class = "btn btn-primary" })

@Ajax.ActionLink("Add CK-User as admin", "AddChkAdminUser", null, new AjaxOptions() { OnSuccess = "onSuccess", HttpMethod = "GET" }, new { id = "cuabtn", @class = "btn btn-primary" })

@Ajax.ActionLink("Create Lucene-Index", "CreateLuceneIndex", null, new AjaxOptions() { OnSuccess = "onSuccess", HttpMethod = "GET" }, new { id = "cuabtn", @class = "btn btn-primary" })
@Ajax.ActionLink("Clear Lucene-Index", "ClearLuceneIndex", null, new AjaxOptions() { OnSuccess = "onSuccess", HttpMethod = "GET" }, new { id = "cuabtn", @class = "btn btn-primary" })
@Ajax.ActionLink("Optimize Lucene-Index", "OptimizeLuceneIndex", null, new AjaxOptions() { OnSuccess = "onSuccess", HttpMethod = "GET" }, new { id = "cuabtn", @class = "btn btn-primary" })


<script>
    function onSuccess() {
        alert("success called...");
    }

</script>