
<div id="RolesJTable"></div>


    <script>

        function init_RolesJTable() {

            $('#RolesJTable').jtable({
                title: '@BaseResource.Get("TitleRolesTable")',
                actions: {
                    listAction: '@Url.Action("RolesList", "UserRoles", null)',
                    createAction: '@Url.Action("RolesCreate", "UserRoles", null)',
                    updateAction: '@Url.Action("RolesUpdate", "UserRoles", null)',
                    deleteAction: '@Url.Action("RolesDelete", "UserRoles", null)'
                },
                fields: {
                    Id: {
                        key: true,
                        list: true
                    },
                    Name: {
                        title: '@BaseResource.Get("RoleName")',
                        create: true,
                        edit: true
                    }
                }
            });
        }

    $(function () {

        init_RolesJTable();
        $('#RolesJTable').jtable('load');

    });



    </script>

