
<div id="User2RolesJTable"></div>


    <script>

        function init_User2RolesJTable() {

            $('#User2RolesJTable').jtable({
                title: '@BaseResource.Get("TitleUser2RolesJTable")',
                actions: {
                    listAction: '@Url.Action("User2RolesList", "UserRoles", null )',
                    createAction: '@Url.Action("User2RolesCreate", "UserRoles", null )',
                    updateAction: '@Url.Action("User2RolesUpdate", "UserRoles", null )',
                    deleteAction: '@Url.Action("User2RolesDelete", "UserRoles", null )'
                },
                fields: {
                    IdentityId: {
                        title: '@BaseResource.Get("IdentityId")',
                        key: true,
                        list: true
                    },
                    IdentityName: {
                        title: '@BaseResource.Get("IdentityName")',
                        create: true,
                        edit: false
                    },
                    Roles: {
                        edit: false,
                        title: '@BaseResource.Get("InputRoleName")',
                        display: function (data) {
                            if (data.record.Roles.length > 0) {

                                var res = "<div classs='roleswrapper'>";
                                $(data.record).each(function (idx) {
                                    res += "<div class='roleelement'><div class='roleId'>" + this.Roles[idx].Id + "</div><div class='roleName'>" + this.Roles[idx].Name + "</div></div>";
                                });
                                res += "</div>";
                                return res;
                            }
                            return "";
                        },
                        input: function (data) {
                            var element = "";
                            if (data.record && data.record.Roles.length > 0) {
                                $(data.record.Roles).each(function () {
                                    element += '<input type="text" name="Roles" style="width:200px" value="' + data.record.Roles.Name + '" />';
                                });

                            } else {
                                element += '<input type="text" name="Roles" style="width:200px" value="" />';
                            }
                            return element;
                        }
                    }
                }
            });
        }

    $(function () {

        init_User2RolesJTable();
        $('#User2RolesJTable').jtable('load');

    });



    </script>

