@model SignalRService.ViewModels.LuckyGameSettingsViewModel

@{
    ViewBag.Title = "LuckyGameIndex";
    Layout = "~/Views/Shared/_LayoutReact.cshtml";
}


<script>
    servicehub = null;

                 @if (Model != null)
                 {
                     <text>
					signalRGroup = "@Model.SignalRGroup";
                    </text>
                 }


                 servicehub = $.connection.serviceHub;
            $.connection.hub.url = "/signalr";

            servicehub.client.clientReceiveWorkData = function (data) {
                add_script(data.Script);
            }

            servicehub.client.updateUserTotal = function (data) {
                UpdateMoneyOverview(data);
            }

            servicehub.client.updateAvailableMoney = function (data) {
                UpdateAvailableMoneyOverview(data);
            }

			servicehub.client.updateWinningRules = function(data){
				winningRulesElement.setState({rules : data});
			}

            $.connection.hub.start().done(function () {

                 @if (Model != null)
                 {
                    <text>
                    servicehub.server.joinGroup("@Model.SignalRGroup");
                    </text>
                 }
                     servicehub.server.getLuckyGameCards().done(function (data) {

                         startMoneyOverview();
                         cardCollection = data;
                         startLuckyGame();
                         startLuckyGameWinningRules();

                     }).fail(function () {
                         console.log("failed getting cards");
                     });

                 });

            $.connection.hub.error(function (error) {
                console.log('SignalR error: ' + error)
            });


</script>



<button id="menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="menu-lower-left">
    <li class="mdl-menu__item">Login/Account</li>
    <li class="mdl-menu__item">Gewinnregeln</li>
    <li class="mdl-menu__item">Auszahlung</li>
</ul>


<div id="MoneyOverviewUser"></div>
<div id="MoneyOverviewRoom"></div>
<div id="LuckyGame"></div>
<div id="LuckyGameWinningRules"></div>




<script src="@Url.Content("~/Scripts/LuckyGame.jsx")"></script>
<script src="@Url.Content("~/Scripts/MoneyOverview.jsx")"></script>
<script src="@Url.Content("~/Scripts/LuckyGameWinningRules.jsx")"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

<style>

    .cardslot {
        height: 80px;
        width: 80px;
        float: left;
        margin: 2px;

		/*
		border-radius:12px;
		-moz-border-radius:12px;
		-webkit-border-radius:12px;
		-webkit-box-shadow:0px 0px 15px 5px #d0f0b2 ;
		-moz-box-shadow:0px 0px 15px 5px #d0f0b2 ;
		box-shadow:0px 0px 15px 5px #d0f0b2 ;
		*/
    }

    .controlwrapper {
        display: inline-block;
        background-color: green;
    }

    .error {
        color: red;
    }

    .won {
        color: green;
        font-weight: bold;
    }

    .lost {
        color: blue;
    }

    .winningruledititem .mdl-textfield {
        width: 150px !important;
    }

    .winningruledititem .mdl-textfield__input {
        width: 40px !important;
        display: inline-block !important;
    }

    .deletebtn {
        background-color:red;
        display:inline-block;
        height: 20px;
        width:20px;
    }

	.winningruledititem_normal {
	
	}

	.winningruledititem_new {
		background-color:#dadada;
	}

</style>

